.DS_Store
ViewControllerTransitionDemo/ViewControllerTransitionDemo.xcodeproj/xcuserdata/*
PerformanceDemo/PerformanceDemo.xcodeproj/xcuserdata/*
PeristenceDemo/PeristenceDemo.xcodeproj/xcuserdata/*
PeristenceDemo/PeristenceDemo.xcodeproj/project.xcworkspace/xcuserdata/*
PerformanceDemo/PerformanceDemo.xcodeproj/project.xcworkspace/xcuserdata/*
Drawing/DrawingPlayground.playground/*
*xcuserdata*
